<table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3"
    style="background-color:#edf0f3;table-layout:fixed">
    <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table role="presentation" border="0" class="m_7706036325308352863phoenix-email-container"
                        cellspacing="0" cellpadding="0" width="512" bgcolor="#FFFFFF"
                        style="background-color:#ffffff;margin:0 auto;max-width:512px;width:inherit">
                        <tbody>
                            <tr>
                                <td bgcolor="#F6F8FA"
                                    style="background-color:#f6f8fa;padding:12px;border-bottom:1px solid #ececec">
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%"
                                        style="width:100%!important;min-width:100%!important">
                                        <tbody>
                                            <tr>
                                                <td align="left" valign="middle"><a
                                                        href="https://www.linkedin.com/comm/feed/?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-header-6-home&amp;trkEmail=eml-jobs_applicant_applied-header-6-home-null-cev1o2%7Ekupt8fwl%7E2y-null-neptune%2Ffeed&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                        style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/feed/?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-header-6-home%26trkEmail%3Deml-jobs_applicant_applied-header-6-home-null-cev1o2%257Ekupt8fwl%257E2y-null-neptune%252Ffeed%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNHlz_c_u-2FvSGMoMXP9NgTpsEtxg"
                                                        data-mt-detrack-inspected="true"> <img alt="LinkedIn" border="0"
                                                            src="https://ci5.googleusercontent.com/proxy/HLJPoYaIjQCPmtZFUzA0GpWVjoqSw6RQ-MoR2Xr-rpowQlfvl-f9bZfODjdQVHq0hb8xmOVEoWxwDJbmiTs1f8DbxQoTwjQjLq0lOwLIaq6hCn0pP4gb782m2RNWGOijSOC7c0v1OANl8XeE-MCDNZr8AlK61gZpAGduKmnVPs016BiS5jRqEDr4kMb-A4WEAOx8sVEi9ihn7yyA-ACB2PI7Vs4OsFStAzC6Rm8mu9N96CQZOqLu-JI7_UueHUfb8bb_ACjPqfsSujMzDM1_I4c9qF0MzbDw6Hikf1gXPZbYCAtBSlZrLvBEwKoocg=s0-d-e1-ft#https://static.licdn.com/sc/p/com.linkedin.email-assets-frontend%3Aemail-assets-frontend-static-content%2B__latest__/f/%2Femail-assets-frontend%2Fimages%2Femail%2Fphoenix%2Flogos%2Flogo_phoenix_header_blue_78x66_v1.png"
                                                            height="34" width="40"
                                                            style="outline:none;color:#ffffff;text-decoration:none"
                                                            class="CToWUd"></a></td>
                                                <td valign="middle" width="100%" align="right"><a
                                                        href="https://www.linkedin.com/comm/in/zulkifli-mahardhika-30243a18b?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-header-14-profile&amp;trkEmail=eml-jobs_applicant_applied-header-14-profile-null-cev1o2%7Ekupt8fwl%7E2y-null-neptune%2Fprofile%7Evanity%2Eview&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                        style="margin:0;color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/in/zulkifli-mahardhika-30243a18b?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-header-14-profile%26trkEmail%3Deml-jobs_applicant_applied-header-14-profile-null-cev1o2%257Ekupt8fwl%257E2y-null-neptune%252Fprofile%257Evanity%252Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNE4vJX9otdnHa6EQu-rjhcPCVPHnQ"
                                                        data-mt-detrack-inspected="true">
                                                        <table role="presentation" border="0" cellspacing="0"
                                                            cellpadding="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle"
                                                                        style="padding:0 0 0 10px">
                                                                        <p style="margin:0;font-weight:400"> <span
                                                                                style="word-wrap:break-word;color:#4c4c4c;word-break:break-word;font-weight:400;font-size:14px;line-height:1.429">Zulkifli
                                                                                Mahardhika</span></p>
                                                                    </td>
                                                                    <td valign="middle" width="40"
                                                                        style="padding-left:10px"> <img
                                                                            alt="Zulkifli Mahardhika" border="0"
                                                                            height="36" width="36"
                                                                            src="https://ci5.googleusercontent.com/proxy/JZzQk7OD_PX5KMvKai_PwOxolnuhvQpjATloZEOXCPIG3CZKoYq8iIEm79iOrP-rq_bLQuD55BR_hcJ-ThlJ9RUHPnqsBQJuXvy1foGgBZY5K0Jfsr8HvO6MNIm7SkldHfNNoRzpOsFDSJh6AlOOVhRsfeffA7zcEHWEy8c5T_tOXQqBoW1yYFaa3yMOMihoGBMHz8WIMqgIc0K1F2t68BkQMelR-baoNtgUKkfxec9rxXRylhJLYdtCR8Rxy-DDFpcx5w=s0-d-e1-ft#https://media-exp1.licdn.com/dms/image/C5603AQGripoYaaD-3w/profile-displayphoto-shrink_100_100/0/1597216348329?e=2159024400&amp;v=beta&amp;t=RNJxEaEyloI0XPpCiuVPNN2-gJz32h2hvJLdhn7hEXE"
                                                                            style="border-radius:50%;outline:none;color:#ffffff;text-decoration:none"
                                                                            class="CToWUd"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </a></td>
                                                <td width="1">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table role="presentation" border="0" cellspacing="0"
                                                        cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0"
                                                                        bgcolor="#0073B1" width="100%" align="center"
                                                                        style="background-color:#0073b1;padding:24px;margin:0 auto;table-layout:fixed;width:100%;border-bottom:1px solid #d9d9d9;text-align:center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <h2
                                                                                        style="padding:0;margin:0;color:#ffffff;font-weight:200;font-size:20px;line-height:1.2">
                                                                                        Lamaran Anda dikirim ke DANATA
                                                                                        GLOBAL MANAJEMEN</h2>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table role="presentation" border="0" cellspacing="0"
                                                        cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%"
                                                                    style="padding:16px;margin:0 auto;table-layout:fixed;width:100%">
                                                                    <table width="100%" align="left"
                                                                        style="padding:16px;margin:0 auto;table-layout:fixed;border-color:#d9d9d9;border-radius:2px;width:100%;border-width:1px;border-style:solid;text-align:left">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="48"
                                                                                    style="padding-left:4px;width:48px;padding-right:4px">
                                                                                    <a href="https://www.linkedin.com/comm/jobs/view/2752263543?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-applied_jobs-5-applied_job&amp;trkEmail=eml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%7Ekupt8fwl%7E2y-null-jobs%7Eview&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                                                        style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none"
                                                                                        target="_blank"
                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/jobs/view/2752263543?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job%26trkEmail%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%257Ekupt8fwl%257E2y-null-jobs%257Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNFvbafj9VD1O243x-QsuVC2CsSpXw"
                                                                                        data-mt-detrack-inspected="true">
                                                                                        <img alt="DANATA GLOBAL MANAJEMEN"
                                                                                            border="0" height="56"
                                                                                            width="56"
                                                                                            src="https://ci4.googleusercontent.com/proxy/Fh2UvOH7ZoydjAuoSZ_PGZlUrld1GXWRGPS3psMeHTslgzpfAPotu7sgiKzvDNmNT9qGfgrlVbA3-HTEOOuBQDXCMhXlsgZhsC1iXhuxXqDu3t_eTqes3h0t6HPjbv7TFC-EDy_3DYNtAFl_iJBfRIj3NDSfzs5NzE8ZIeaFbmYf_6tpwEEzIZlpGFQ1_cOHBaWpn0RQDjcXE35N3Qb3vmzoJx3AIIUfxhzTcE5CNITW3XyWFgbHZ-UCRJWTo6R4sqx0fnoYNKZ7Mx_Q3s-tGJD0_j0qI5y6GHMV_9z7wHgI-dIM=s0-d-e1-ft#https://static.licdn.com/sc/p/com.linkedin.email-assets-frontend%3Aemail-assets-frontend-static-content%2B__latest__/f/%2Femail-assets-frontend%2Fimages%2Femail%2Fjobs%2Fghost_shift_company_asset_64x64_v1.png"
                                                                                            style="outline:none;color:#ffffff;text-decoration:none"
                                                                                            class="CToWUd"></a></td>
                                                                                <td width="100%" align="left"
                                                                                    style="padding-left:12px;width:100%;text-align:left">
                                                                                    <a href="https://www.linkedin.com/comm/jobs/view/2752263543?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-applied_jobs-5-applied_job&amp;trkEmail=eml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%7Ekupt8fwl%7E2y-null-jobs%7Eview&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                                                        style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none"
                                                                                        target="_blank"
                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/jobs/view/2752263543?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job%26trkEmail%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%257Ekupt8fwl%257E2y-null-jobs%257Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNFvbafj9VD1O243x-QsuVC2CsSpXw"
                                                                                        data-mt-detrack-inspected="true">
                                                                                        <table width="100%"
                                                                                            style="margin:0 auto;table-layout:fixed;width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="padding-bottom:4px">
                                                                                                        <p
                                                                                                            style="margin:0;color:#4c4c4c;font-weight:400;font-size:16px;line-height:1.25">
                                                                                                            IT Full
                                                                                                            Stack
                                                                                                            Developer
                                                                                                        </p>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="padding-bottom:4px">
                                                                                                        <p
                                                                                                            style="margin:0;color:#4c4c4c;font-weight:700;font-size:16px;line-height:1.25">
                                                                                                            DANATA
                                                                                                            GLOBAL
                                                                                                            MANAJEMEN
                                                                                                        </p>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <p
                                                                                                            style="margin:0;color:#737373;font-weight:400;font-size:14px;line-height:1.429">
                                                                                                            Dilamar
                                                                                                            pada: 1
                                                                                                            detik yang
                                                                                                            lalu</p>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </a></td>
                                                                                <td width="16"
                                                                                    style="padding:8px;width:16px"><a
                                                                                        href="https://www.linkedin.com/comm/jobs/view/2752263543?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-applied_jobs-5-applied_job&amp;trkEmail=eml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%7Ekupt8fwl%7E2y-null-jobs%7Eview&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                                                        style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none"
                                                                                        target="_blank"
                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/jobs/view/2752263543?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job%26trkEmail%3Deml-jobs_applicant_applied-applied_jobs-5-applied_job-null-cev1o2%257Ekupt8fwl%257E2y-null-jobs%257Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNFvbafj9VD1O243x-QsuVC2CsSpXw"
                                                                                        data-mt-detrack-inspected="true"><img
                                                                                            src="https://ci4.googleusercontent.com/proxy/voXByE2EWzvFX6mqt4MJjkFSGJU2zlOyix1hd6Zl2SKVjGlTwww7pAKE8OMniNWqcXZxhhHWIRCpzjCe5vsdYmOPeyM8qzoJMa0qzSm3X1HWfD5_8UKhpWDuc3MxOk4Olso44LQ479QQCDIdZlV6mPVkukuAD1M0e0QzSPwAKVtisPFNolfRN4zaU_V23WnwboD8OAdQRxsd-XsYsJ0rJJvPggM5T7FpaE8bkkGKLIPJu0d_X9ZXF1oizLhc73feScAYGUS016jDp41TiaS9O1W4PLQF-wYWsM0LwZpDTaQwnUTMJr3mYoupy-RPSth8RQ=s0-d-e1-ft#https://static.licdn.com/sc/p/com.linkedin.email-assets-frontend%3Aemail-assets-frontend-static-content%2B__latest__/f/%2Femail-assets-frontend%2Fimages%2Femail%2Fphoenix%2Ficons%2Fui%2Ficon_chevronright_gray_48_48_v1.png"
                                                                                            alt="" width="16"
                                                                                            style="outline:none;color:#ffffff;text-decoration:none"
                                                                                            class="CToWUd"></a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%"
                                        bgcolor="#EDF0F3" align="center"
                                        style="background-color:#edf0f3;padding:0 24px;color:#6a6c6d;text-align:center">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:16px 0 0 0;text-align:center">
                                                    <table role="presentation" align="center" border="0" cellspacing="0"
                                                        cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" align="center"
                                                                    style="padding:0 0 16px 0;vertical-align:middle;text-align:center">
                                                                    <a href="https://www.linkedin.com/e/v2?e=cev1o2-kupt8fwl-2y&amp;t=lun&amp;midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;ek=jobs_applicant_applied&amp;li=11&amp;m=unsub&amp;ts=unsub&amp;eid=cev1o2-kupt8fwl-2y&amp;loid=AQG5si5DRfImbQAAAXx6yCPzDfgkzH1L43MF2p8V-Imj45X2Ssn1Drgvbfzq6QqQUw4qutXMozF8j9pcXIUyeWUMyVxVv7MA__cfKovcSs9T_KAwFbt1_DI"
                                                                        style="color:#6a6c6d;white-space:normal;text-decoration:underline;display:inline-block"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/e/v2?e%3Dcev1o2-kupt8fwl-2y%26t%3Dlun%26midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26ek%3Djobs_applicant_applied%26li%3D11%26m%3Dunsub%26ts%3Dunsub%26eid%3Dcev1o2-kupt8fwl-2y%26loid%3DAQG5si5DRfImbQAAAXx6yCPzDfgkzH1L43MF2p8V-Imj45X2Ssn1Drgvbfzq6QqQUw4qutXMozF8j9pcXIUyeWUMyVxVv7MA__cfKovcSs9T_KAwFbt1_DI&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNHBZkblB559e6-HjVkKShkOf2FQwA"
                                                                        data-mt-detrack-inspected="true"> <span
                                                                            style="color:#6a6c6d;font-weight:400;text-decoration:underline;font-size:12px;line-height:1.333">Berhenti
                                                                            berlangganan</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                                                                        href="https://www.linkedin.com/e/v2?e=cev1o2-kupt8fwl-2y&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D&amp;a=customerServiceUrl&amp;midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;ek=jobs_applicant_applied&amp;li=10&amp;m=footer&amp;ts=help&amp;articleId=67"
                                                                        style="color:#6a6c6d;white-space:normal;text-decoration:underline;display:inline-block"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/e/v2?e%3Dcev1o2-kupt8fwl-2y%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D%26a%3DcustomerServiceUrl%26midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26ek%3Djobs_applicant_applied%26li%3D10%26m%3Dfooter%26ts%3Dhelp%26articleId%3D67&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNGmmZJxtttS265MXFSyr396gPXWCw"
                                                                        data-mt-detrack-inspected="true"> <span
                                                                            style="color:#6a6c6d;font-weight:400;text-decoration:underline;font-size:12px;line-height:1.333">Bantuan</span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table role="presentation" border="0" cellspacing="0"
                                                        cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="padding:0 0 12px 0;text-align:center">
                                                                    <p
                                                                        style="margin:0;color:#6a6c6d;font-weight:400;font-size:12px;line-height:1.333">
                                                                        Anda menerima email notifikasi LinkedIn.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"
                                                                    style="padding:0 0 12px 0;text-align:center">
                                                                    <p
                                                                        style="margin:0;word-wrap:break-word;color:#6a6c6d;word-break:break-word;font-weight:400;font-size:12px;line-height:1.333">
                                                                        Email ini ditujukan untuk Zulkifli Mahardhika
                                                                        (Backend Developer di LAYANA INC.). <a
                                                                            href="https://www.linkedin.com/e/v2?e=cev1o2-kupt8fwl-2y&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D&amp;a=customerServiceUrl&amp;midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;ek=jobs_applicant_applied&amp;articleId=4788"
                                                                            style="color:#6a6c6d;white-space:normal;text-decoration:underline;display:inline-block"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/e/v2?e%3Dcev1o2-kupt8fwl-2y%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D%26a%3DcustomerServiceUrl%26midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26ek%3Djobs_applicant_applied%26articleId%3D4788&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNGYYDeQaG51s5jg9qzL3x2UtMWd4Q"
                                                                            data-mt-detrack-inspected="true">Pelajari
                                                                            mengapa kami menyertakan informasi ini.</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"
                                                                    style="padding:0 0 8px 0;text-align:center"><a
                                                                        href="https://www.linkedin.com/comm/feed/?midToken=AQEUq0mbg8sQKA&amp;midSig=2RjhGe4dDfBpY1&amp;trk=eml-jobs_applicant_applied-footer-8-home&amp;trkEmail=eml-jobs_applicant_applied-footer-8-home-null-cev1o2%7Ekupt8fwl%7E2y-null-neptune%2Ffeed&amp;lipi=urn%3Ali%3Apage%3Aemail_jobs_applicant_applied%3Blvlse%2FZnReKS13rqRbVxsA%3D%3D"
                                                                        style="color:#6a6c6d;white-space:normal;text-decoration:underline;display:inline-block"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/feed/?midToken%3DAQEUq0mbg8sQKA%26midSig%3D2RjhGe4dDfBpY1%26trk%3Deml-jobs_applicant_applied-footer-8-home%26trkEmail%3Deml-jobs_applicant_applied-footer-8-home-null-cev1o2%257Ekupt8fwl%257E2y-null-neptune%252Ffeed%26lipi%3Durn%253Ali%253Apage%253Aemail_jobs_applicant_applied%253Blvlse%252FZnReKS13rqRbVxsA%253D%253D&amp;source=gmail&amp;ust=1634234047849000&amp;usg=AFQjCNGdqA5YSob426BPYte0guBZIDLuQQ"
                                                                        data-mt-detrack-inspected="true"><img
                                                                            alt="LinkedIn" border="0" height="14"
                                                                            src="https://ci3.googleusercontent.com/proxy/bzvgSwnIl-EoSvCPlRKIZXuV6yP_TY2wfudBIPShxs0xlsLFtMTHIe6DzN4h8xe9DYK9VB_3WFvW1yMlgrDINNtVDKklKGGN6A4_XMx5wgyGRD_hJf5P7COhOv2ob-4L3n9pnocTO2GxJCqn1GBUAYenkreWS21wfATmwZ1eaQ8X6nsSos8jt0nyinhwkCDEN1mbUUEK4FWsOGPKF0zGoAUKEIMnYGmtmACPsMz2fn1JtNBlOnDdW544dBqa-677tO8KrDJ1XHmClWb2sN7anUokaeZPJ53XVILvNZa0VczDPOMTCY-tPyNtLEAjdc48A8_9=s0-d-e1-ft#https://static.licdn.com/sc/p/com.linkedin.email-assets-frontend%3Aemail-assets-frontend-static-content%2B__latest__/f/%2Femail-assets-frontend%2Fimages%2Femail%2Fphoenix%2Flogos%2Flogo_phoenix_footer_darkgray_197x48_v1.png"
                                                                            width="58"
                                                                            style="outline:none;color:#ffffff;display:block;text-decoration:none"
                                                                            class="CToWUd"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"
                                                                    style="padding:0 0 12px 0;text-align:center">
                                                                    <p
                                                                        style="margin:0;color:#6a6c6d;font-weight:400;font-size:12px;line-height:1.333">
                                                                        © 2021 LinkedIn Ireland Unlimited Company,
                                                                        Wilton Plaza, Wilton Place, Dublin 2. LinkedIn
                                                                        adalah nama bisnis terdaftar dari LinkedIn
                                                                        Ireland Unlimited Company. LinkedIn dan logo
                                                                        LinkedIn adalah merek dagang terdaftar yang
                                                                        dimiliki oleh LinkedIn.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </tbody>
</table>